body > header {
  max-width: 560px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: -20px;
  left: -20px;
  h1 {
    width: 240px;
    height: 170px;
    text-indent: -9999em ;
    margin: 0;
    background: transparent image-url('logo-mf-flat-green.png') no-repeat;
    a {
      display: block;
      height: 170px;
    }

  }
}
